.Fonts{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.Container{
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.navbar{
    display: flex;
    flex: auto;
    justify-content: flex-end;
}
.ImageDisplay{
    position: relative;
    margin: 5px;
    height: 272px;

}
.center{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
}
.formContainer{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: auto;
    max-width: 584px;
}
.searchImage{
    height: 15px;
}
.imgAling{
    height: 45px;
    margin: 13px;

}
.inputs{
    margin: auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    border: none;
    outline: none;
    margin: 10px;
    font-size: 19px;
    

}
.reset{
    background-color: transparent;
    outline: none;
    border: none;
    margin: 10px;
}
.hidden{
    visibility: hidden;
}
#reset-hover:hover{
    background-color:aliceblue;
}

.ButtonContainer{
    height: 70;
    padding-top: 18px;
}
.inputButton{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.lucky{
background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.inputButton:hover,.formContainer:hover,
.lucky:hover{
    border: 2px solid #dfe1e5;
}